
*{
  border: solid 1px red;
}

body{
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(243, 243, 243);
  color: rgb(75, 71, 71);
}

header{
  text-align: center;
  font-size: 2.5em;
  padding: 1em;
  font-weight: bold;
}

main{
  padding: 0em 1em;
  width: 60%;
  min-width: 40em;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  
}

.search-movie-form{
  display: flex;
  justify-content: center;
  gap: 1em;
  height: 2.5em;
  width: 100%;
  margin-bottom: 1em;
  
}

.search-movie-form > label{
  align-self: center;
  text-wrap-mode: nowrap;
}

.search-movie-form > input{
  outline: none;
  background-color: white;
  border: solid 1px lightgray;
  padding: 0em 1em;
  border-radius: 1em;
  flex-grow: 1;
  padding: 0em 1em;
  font-size: 1em;
}

.search-movie-form > input:focus{
  border: solid 1px rgb(175, 175, 175);
}


.search-movie-form > button{
  border-radius: 1.5em;
  color: white;
  background-color: rgb(51, 50, 50);
  border: none;
  width:15%;
  min-width: 4em;
  font-size: 1em;
}

.search-movie-form > button:hover{
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.123), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.movie-container{
  background-color: white;
  padding: 1.2em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: .5em 0em;
  border-radius: .5em;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.123), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.movie-container > img{
  background-color: rgb(51, 50, 50);;
  padding: .4em;
  width: 13em;
}

.movie-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 17em;
}

.movie-info-container > h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  text-align: center;
}

.movie-info-container > span{
  text-align: center;
  margin-top: .5em;
  color:rgb(95, 95, 95);
}

.movie-info-container > p{
  color:rgb(95, 95, 95);
}